.main{ position:relative; min-height: calc(100vh - 72px); padding-top: 18px; }
.float{
  position: fixed;
  right: 24px;
  width: 64px; 
  height: 64px;
  border-radius: 999px;
  border: 0;
  display:flex; 
  align-items:center; 
  justify-content:center;
  background: #fff;
  box-shadow: var(--shadow);
  cursor:pointer;
  transition: transform 0.3s;
}
.float:hover{
  transform: scale(1.1);
}
.float img{
  width: 36px; 
  height: 36px;
}
.wa{ 
  bottom: 24px; 
  text-decoration:none; 
  background: #25d366;
}
.wa img {
  filter: brightness(0) invert(1);
}
.bot{ 
  bottom: 100px;
  background: var(--primary);
}
.bot img{
  filter: brightness(0) invert(1);
}

@media (max-width: 640px){
  .float{
    width: 56px;
    height: 56px;
    right: 16px;
  }
  .float img{
    width: 30px;
    height: 30px;
  }
  .wa{
    bottom: 16px;
  }
  .bot{
    bottom: 84px;
  }
}
