.main{ position:relative; min-height: calc(100vh - 72px); padding-top: 18px; padding-bottom: 24px; }

@media (max-width: 640px){
  .main{
    padding-bottom: 100px; /* Espacio para que el chatbot no tape botones */
  }
}
